# Data analysis using completely cleaned data ONLY

In [1]:
import pandas as pd

number_of_deaths = pd.read_csv("clean data/2018_deaths_clean.csv") # good
hotline_calls = pd.read_csv("Clean Data/county_hotline_calls_2018.csv") # good
drug_boxes = pd.read_csv("Clean Data/drug_boxes_by_county.csv") # good
pa_population = pd.read_csv("clean data/PA_population_clean.csv") # good
od_deaths = pd.read_csv("clean data/OD_Deaths_Cleaned_More.csv") # good
emergency_od_visits = pd.read_csv("Clean Data/further_cleaned_od_ed_visits_2018.csv") # Unclear Column names, needs more cleaning

In [2]:
number_of_deaths.shape
number_of_deaths.head()

         County  death_count
0  Pennsylvania       134571
1         Adams         1055
2     Allegheny        14051
3     Armstrong          855
4        Beaver         2185

In [3]:
hotline_calls.shape
hotline_calls.head()

,County,2018,Jan18,Feb18,Mar18,Apr18,May18,Jun18,Jul18,Aug18,Sep18,Oct18,Nov18,Dec18
0,Adams,27.0,1.0,2.0,4.0,0.0,4.0,3.0,3.0,0.0,2.0,5.0,1.0,2.0
1,Allegheny,1003.0,71.0,77.0,99.0,122.0,93.0,58.0,95.0,69.0,57.0,89.0,57.0,116.0
2,Armstrong,22.0,1.0,3.0,3.0,0.0,0.0,2.0,1.0,0.0,2.0,3.0,2.0,5.0
3,Beaver,121.0,11.0,12.0,9.0,15.0,12.0,9.0,7.0,10.0,5.0,9.0,9.0,13.0
4,Bedford,12.0,2.0,0.0,0.0,1.0,2.0,3.0,0.0,1.0,2.0,1.0,0.0,0.0

In [4]:
drug_boxes.shape
drug_boxes.head()

      County  Number Boxes
0      Adams            11
1  Allegheny            38
2  Armstrong             9
3     Beaver            16
4    Bedford             4

In [5]:
pa_population.head()
pa_population.shape ## Does not have state total

(67, 2)

In [6]:
od_deaths.shape
od_deaths.head()

      County  Any Drug Overdose Deaths  Opioid Overdose Deaths
0      Adams                      16.0                    16.0
1  Allegheny                     487.0                   411.0
2  Armstrong                      22.0                    21.0
3     Beaver                      43.0                    40.0
4    Bedford                       1.0                     1.0

In [7]:
emergency_od_visits.shape
emergency_od_visits.head()

,County,Annual Any Overdose ED Rate by Visit,Annual Opioid Overdose ED Rate by Visit,Annual Any Overdose ED Rate by Population,Annual Opioid Overdose ED Rate by Population
0,Adams,63.240638,8.554991,6.473773,1.001853
1,Allegheny,73.271708,18.053902,8.249881,2.152409
2,Armstrong,33.592188,2.753188,7.388562,1.942354
3,Beaver,66.888480,2.022103,7.719393,0.662092
4,Bedford,50.387198,7.602126,5.620875,0.722447

In [8]:
merged_1 = pd.merge(number_of_deaths, hotline_calls, on='County', how='outer')
merged_2 = pd.merge(merged_1, drug_boxes, on='County', how='outer')
merged_3 = pd.merge(merged_2, pa_population, on='County', how='outer')
merged_4 = pd.merge(merged_3, od_deaths, on='County', how='outer')
opioid_pa_df = pd.merge(merged_4, emergency_od_visits, on='County', how='outer')

opioid_pa_df.head()
# Opioid_pa_df = pd.merge(number_of_deaths, hotline_calls, drug_boxes, pa_population, od_deaths, emergency_od_visits, on='County', how='Outer')

,County,death_count,2018,Jan18,Feb18,Mar18,Apr18,May18,Jun18,Jul18,...,Nov18,Dec18,Number Boxes,2019_Population,Any Drug Overdose Deaths,Opioid Overdose Deaths,Annual Any Overdose ED Rate by Visit,Annual Opioid Overdose ED Rate by Visit,Annual Any Overdose ED Rate by Population,Annual Opioid Overdose ED Rate by Population
0,Pennsylvania,134571.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,4413.0,3915.0,78.032502,17.122122,8.643136,1.916749
1,Adams,1055.0,27.0,1.0,2.0,4.0,0.0,4.0,3.0,3.0,...,1.0,2.0,11.0,"102,811",16.0,16.0,63.240638,8.554991,6.473773,1.001853
2,Allegheny,14051.0,1003.0,71.0,77.0,99.0,122.0,93.0,58.0,95.0,...,57.0,116.0,38.0,"1,218,452",487.0,411.0,73.271708,18.053902,8.249881,2.152409
3,Armstrong,855.0,22.0,1.0,3.0,3.0,0.0,0.0,2.0,1.0,...,2.0,5.0,9.0,"65,263",22.0,21.0,33.592188,2.753188,7.388562,1.942354
4,Beaver,2185.0,121.0,11.0,12.0,9.0,15.0,12.0,9.0,7.0,...,9.0,13.0,16.0,"164,742",43.0,40.0,66.888480,2.022103,7.719393,0.662092

In [9]:
opioid_pa_df = opioid_pa_df.sort_values(by='County')
print(opioid_pa_df.columns)


opioid_pa_df=opioid_pa_df.rename(columns={"2018":"hotlinecall_2018"})
opioid_pa_df.columns

Index(['County', 'death_count', '2018', 'Jan18', 'Feb18', 'Mar18', 'Apr18',
       'May18', 'Jun18', 'Jul18', 'Aug18', 'Sep18', 'Oct18', 'Nov18', 'Dec18',
       'Number Boxes', '2019_Population', 'Any Drug Overdose Deaths',
       'Opioid Overdose Deaths', 'Annual Any Overdose ED Rate by Visit',
       'Annual Opioid Overdose ED Rate by Visit',
       'Annual Any Overdose ED Rate by Population',
       'Annual Opioid Overdose ED Rate by Population'],
      dtype='object')

Index(['County', 'death_count', 'hotlinecall_2018', 'Jan18', 'Feb18', 'Mar18',
       'Apr18', 'May18', 'Jun18', 'Jul18', 'Aug18', 'Sep18', 'Oct18', 'Nov18',
       'Dec18', 'Number Boxes', '2019_Population', 'Any Drug Overdose Deaths',
       'Opioid Overdose Deaths', 'Annual Any Overdose ED Rate by Visit',
       'Annual Opioid Overdose ED Rate by Visit',
       'Annual Any Overdose ED Rate by Population',
       'Annual Opioid Overdose ED Rate by Population'],
      dtype='object')

## Further cleaned by Elle

In [10]:
# calculate death ratios, drop columns, reformatting

opioid_pa_df2=opioid_pa_df.drop(['Jan18', 'Feb18', 'Mar18', 'Apr18','May18', 'Jun18', 'Jul18', 'Aug18', 'Sep18', 'Oct18', 'Nov18', 'Dec18'],axis=1)
opioid_pa_df2["%_of_any_od_death_over_all_deaths"]=(opioid_pa_df2["Any Drug Overdose Deaths"]/opioid_pa_df2["death_count"]*100).map("{:.2f}".format)
opioid_pa_df2["%_of_op_od_death_over_all_deaths"]=(opioid_pa_df2["Opioid Overdose Deaths"]/opioid_pa_df2["death_count"]*100).map("{:.2f}".format)
opioid_pa_df2["Annual Any Overdose ED Rate by Visit"] = opioid_pa_df2["Annual Any Overdose ED Rate by Visit"].map("{:.2f}".format)
opioid_pa_df2["Annual Opioid Overdose ED Rate by Visit"] = opioid_pa_df2["Annual Opioid Overdose ED Rate by Visit"].map("{:.2f}".format)
opioid_pa_df2["Annual Any Overdose ED Rate by Population"] = opioid_pa_df2["Annual Any Overdose ED Rate by Population"].map("{:.2f}".format)
opioid_pa_df2["Annual Opioid Overdose ED Rate by Population"] = opioid_pa_df2["Annual Opioid Overdose ED Rate by Population"].map("{:.2f}".format)

# change column order

opioid_pa_df2.columns

col_new = ['County','2019_Population','death_count','Any Drug Overdose Deaths','Opioid Overdose Deaths',\
           '%_of_any_od_death_over_all_deaths','%_of_op_od_death_over_all_deaths',\
           'Annual Any Overdose ED Rate by Visit','Annual Opioid Overdose ED Rate by Visit',\
           'Annual Any Overdose ED Rate by Population','Annual Opioid Overdose ED Rate by Population',\
           'hotlinecall_2018', 'Number Boxes']
           
opioid_pa_df2=opioid_pa_df2[col_new]

In [11]:
opioid_pa_df2.head()

,County,2019_Population,death_count,Any Drug Overdose Deaths,Opioid Overdose Deaths,%_of_any_od_death_over_all_deaths,%_of_op_od_death_over_all_deaths,Annual Any Overdose ED Rate by Visit,Annual Opioid Overdose ED Rate by Visit,Annual Any Overdose ED Rate by Population,Annual Opioid Overdose ED Rate by Population,hotlinecall_2018,Number Boxes
1,Adams,"102,811",1055.0,16.0,16.0,1.52,1.52,63.24,8.55,6.47,1.00,27.0,11.0
2,Allegheny,"1,218,452",14051.0,487.0,411.0,3.47,2.93,73.27,18.05,8.25,2.15,1003.0,38.0
3,Armstrong,"65,263",855.0,22.0,21.0,2.57,2.46,33.59,2.75,7.39,1.94,22.0,9.0
4,Beaver,"164,742",2185.0,43.0,40.0,1.97,1.83,66.89,2.02,7.72,0.66,121.0,16.0
5,Bedford,"48,176",596.0,1.0,1.0,0.17,0.17,50.39,7.60,5.62,0.72,12.0,4.0

In [12]:
## Added Cleaning from Analysis_v01.ipynb
# remove "Uknown"
df=opioid_pa_df2[opioid_pa_df2["County"]!="Unknown"]

# Additional column with typo to be removed
df=df[df["County"]!='Lancaster   ']

# Shape should now be 68, 13

df['2019_Population'] = df['2019_Population'].str.replace(',', '')

# Make every value into int, except for NaN values for Pennsylvania

try:
    df['2019_Population'] = df['2019_Population'].astype(int)
    
except:
    ValueError

In [13]:
df.to_csv("Clean Data/final_clean_death_data_2018.csv",index=False)