In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# 1) Clean up death data

In [2]:
file_path = "Data_PA/country_level/Death.csv"
death = pd.read_csv(file_path)
death.columns

Index(['County', 'Count', 'Year', 'Suppression Information',
       'Type of Overdose Death', 'County Code Number', 'County Code Text',
       'State FIPS Code', 'County FIPS', 'Latitude/Longitude',
       'New Georeferenced Column'],
      dtype='object')

In [3]:
# basic descriptive analysis about death data

print(death.shape)
print(death["Year"].value_counts())

(272, 11)
2018    136
2017    136
Name: Year, dtype: int64

In [4]:
# seperate 2017 and 2018 data into two dfs

death_17 = death.loc[death["Year"]==2017]
death_18 = death.loc[death["Year"]==2018]
print(death_17.shape)
print(death_18.shape)

(136, 11)
(136, 11)

In [5]:
# replace NaN with a number (now it's 1 but can change later on)
replace_for_nan = 1
death_17["Count"]=death_17["Count"].replace({np.nan:replace_for_nan})
death_18["Count"]=death_18["Count"].replace({np.nan:replace_for_nan})

# check if replace was successful
# death_17.loc[death_17["Suppression Information"].isnull()==False]
# death_18.loc[death_18["Suppression Information"].isnull()==False]

C:\Users\xiex8\AppData\Local\Continuum\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\xiex8\AppData\Local\Continuum\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [6]:
# remove unecessary columns

death_17_cleaned = death_17[['County', 'Count', 'Year', 'Suppression Information',
       'Type of Overdose Death', 'County Code Number']]

death_18_cleaned = death_18[['County', 'Count', 'Year', 'Suppression Information',
       'Type of Overdose Death', 'County Code Number']]

In [7]:
death_17_cleaned.head()

,County,Count,Year,Suppression Information,Type of Overdose Death,County Code Number
1,Armstrong,29.0,2017,NaN,Any Drug Overdose Deaths,3
3,Montgomery,185.0,2017,NaN,Opioid Overdose Deaths,46
4,Huntingdon,11.0,2017,NaN,Opioid Overdose Deaths,31
7,Lackawanna,79.0,2017,NaN,Any Drug Overdose Deaths,35
9,Centre,10.0,2017,NaN,Opioid Overdose Deaths,14

In [8]:
death_18_cleaned.head()

,County,Count,Year,Suppression Information,Type of Overdose Death,County Code Number
0,Allegheny,411.0,2018,NaN,Opioid Overdose Deaths,2
2,Juniata,1.0,2018,Not displayed when count is between 1 and 9.,Opioid Overdose Deaths,34
5,Adams,16.0,2018,NaN,Any Drug Overdose Deaths,1
6,Cumberland,46.0,2018,NaN,Opioid Overdose Deaths,21
8,Northampton,57.0,2018,NaN,Opioid Overdose Deaths,48

# 2) Clean up ED visits data

In [9]:
file_path = "Data_PA/country_level/ED_visits.csv"
ed_visits = pd.read_csv(file_path)

# ed_visits columns 
# ['County Name', 'Quarterly Rate', 'Overdose Type', 'Type of Rate', 
# 'Time Measure', 'Time Period', 'Year', 'Quarter Date Start', 'Notes','County Code Number', 
# 'County Code Text', 'State FIPS Code', 'County FIPS Code', 'Latitude/Longitude']

# ed_visits.head()

In [10]:
# explore ED_visits data

# print(ed_visits.shape)
# print(ed_visits["Year"].unique())
# print(ed_visits["Time Period"].unique())
# print(ed_visits["Overdose Type"].unique())
# print(ed_visits["Type of Rate"].unique())
# print(ed_visits["Overdose Type"].value_counts())
# print(ed_visits["Type of Rate"].value_counts())

In [11]:
# replace NaN
replace_for_nan = 0.001
ed_visits["Qtly_rate_no_na"] = ed_visits["Quarterly Rate"].replace({np.nan:replace_for_nan})

# check if replace was successful
ed_visits.loc[ed_visits["Qtly_rate_no_na"].isnull()==True]

Empty DataFrame
Columns: [County Name, Quarterly Rate, Overdose Type, Type of Rate, Time Measure, Time Period, Year, Quarter Date Start, Notes, County Code Number, County Code Text, State FIPS Code, County FIPS Code, Latitude/Longitude, Qtly_rate_no_na]
Index: []

In [12]:
# more exploration of data set

# print(ed_visits["State FIPS Code"].unique())
# print(ed_visits["County FIPS Code"].unique())
# print(ed_visits["County FIPS Code"].unique().shape)
# print(ed_visits["Notes"].unique())

In [13]:
# seperate 2016, 2017, 2018 and 2019

ed_16_qtly = ed_visits.loc[ed_visits["Year"]==2016]
ed_17_qtly = ed_visits.loc[ed_visits["Year"]==2017]
ed_18_qtly = ed_visits.loc[ed_visits["Year"]==2018]
ed_19_qtly = ed_visits.loc[ed_visits["Year"]==2019]

# print(ed_16_qtly.shape)
# print(ed_17_qtly.shape)
# print(ed_18_qtly.shape)
# print(ed_19_qtly.shape)

ed_18_qtly.head()

,County Name,Quarterly Rate,Overdose Type,Type of Rate,Time Measure,Time Period,Year,Quarter Date Start,Notes,County Code Number,County Code Text,State FIPS Code,County FIPS Code,Latitude/Longitude,Qtly_rate_no_na
2,Delaware,48.793434,Any Opioid Overdose,"Rate of ED Visits per 10,000 Visits (by facili...",Quarterly Rates,2018 Q3,2018,07/01/2018,NaN,23,23,42,45,"(39.9165786652, -75.4062771212)",48.793434
3,Mercer,8.905652,Heroin Overdose,"Rate of ED Visits per 10,000 Visits (by facili...",Quarterly Rates,2018 Q1,2018,01/01/2018,NaN,43,43,42,85,"(41.302377765, -80.2600941079)",8.905652
4,Snyder,0.000000,Heroin Overdose,"Rate of ED Visits per 10,000 Population (by pa...",Quarterly Rates,2018 Q2,2018,04/01/2018,NaN,55,55,42,109,"(40.7711373692, -77.0725596804)",0.000000
5,Juniata,5.711022,Any Drug Overdose,"Rate of ED Visits per 10,000 Population (by pa...",Quarterly Rates,2018 Q4,2018,10/01/2018,NaN,34,34,42,67,"(40.5343300836, -77.405775001)",5.711022
9,Elk,0.000000,Heroin Overdose,"Rate of ED Visits per 10,000 Population (by pa...",Quarterly Rates,2018 Q3,2018,07/01/2018,NaN,24,24,42,47,"(41.4281941606, -78.6494771322)",0.000000

## 2.1) Aggreate 2017 quaterly data to annual

In [14]:
# "any OD", "rate of ED vists per 10,000 visits" by county, [[quarterly]] in 2017

ed_17_qtly_anyod_rate_by_visits = ed_17_qtly.loc[\
                                                 (ed_17_qtly["Overdose Type"]=="Any Drug Overdose") \
                                                 & \
                                                 (ed_17_qtly["Type of Rate"]=="Rate of ED Visits per 10,000 Visits (by facility location)")]

del ed_17_qtly_anyod_rate_by_visits["State FIPS Code"]
del ed_17_qtly_anyod_rate_by_visits["Time Measure"]
del ed_17_qtly_anyod_rate_by_visits["County Code Text"]
del ed_17_qtly_anyod_rate_by_visits["Latitude/Longitude"]
del ed_17_qtly_anyod_rate_by_visits["Quarter Date Start"]
del ed_17_qtly_anyod_rate_by_visits["County FIPS Code"]

# ed_17_qtly_anyod_rate_by_visits.head()

In [15]:
# "any OD", "rate of ED vists per 10,000 visits" by county, [[annual]] in 2017

temp = ed_17_qtly_anyod_rate_by_visits.groupby("County Name")
temp_df = pd.DataFrame(temp["Qtly_rate_no_na"].mean())
temp_df = temp_df.rename(columns={"Qtly_rate_no_na":"anyod_annual_ED_rate_by_visit_17"})
temp_df = temp_df.reset_index(drop=False,inplace=False)
ed_17_yrly_anyod_rate_by_visits = temp_df
ed_17_yrly_anyod_rate_by_visits.head()

  County Name  anyod_annual_ED_rate_by_visit_17
0       Adams                         44.666762
1   Allegheny                         97.232480
2   Armstrong                         49.175056
3      Beaver                         33.046201
4     Bedford                         68.073567

In [16]:
# "opioid OD", "rate of ED vists per 10,000 visits" by county, [[quarterly]] in 2017

ed_17_qtly_opod_rate_by_visits = ed_17_qtly.loc[\
                                                 (ed_17_qtly["Overdose Type"]=="Any Opioid Overdose") \
                                                 & \
                                                 (ed_17_qtly["Type of Rate"]=="Rate of ED Visits per 10,000 Visits (by facility location)")]

del ed_17_qtly_opod_rate_by_visits["State FIPS Code"]
del ed_17_qtly_opod_rate_by_visits["Time Measure"]
del ed_17_qtly_opod_rate_by_visits["County Code Text"]
del ed_17_qtly_opod_rate_by_visits["Latitude/Longitude"]
del ed_17_qtly_opod_rate_by_visits["Quarter Date Start"]
del ed_17_qtly_opod_rate_by_visits["County FIPS Code"]

# ed_17_qtly_opod_rate_by_visits.head()

In [17]:
# "opioid OD", "rate of ED vists per 10,000 visits" by county, [[annual]] in 2017

temp = ed_17_qtly_opod_rate_by_visits.groupby("County Name")
temp_df = pd.DataFrame(temp["Qtly_rate_no_na"].mean())
temp_df = temp_df.rename(columns={"Qtly_rate_no_na":"op_od_annual_ED_rate_by_visit_17"})
temp_df = temp_df.reset_index(drop=False,inplace=False)
ed_17_yrly_opod_rate_by_visits = temp_df
ed_17_yrly_opod_rate_by_visits.head()

  County Name  op_od_annual_ED_rate_by_visit_17
0       Adams                          1.634737
1   Allegheny                         31.890134
2   Armstrong                          8.819483
3      Beaver                          0.000500
4     Bedford                         11.200351

In [18]:
# "any OD", "rate of ED vists per 10,000 population" by county, [[quarterly]] in 2017

ed_17_qtly_anyod_rate_by_ppl = ed_17_qtly.loc[\
                                                 (ed_17_qtly["Overdose Type"]=="Any Drug Overdose") \
                                                 & \
                                                 (ed_17_qtly["Type of Rate"]==\
                                                  "Rate of ED Visits per 10,000 Population (by patient location)")]

del ed_17_qtly_anyod_rate_by_ppl["State FIPS Code"]
del ed_17_qtly_anyod_rate_by_ppl["Time Measure"]
del ed_17_qtly_anyod_rate_by_ppl["County Code Text"]
del ed_17_qtly_anyod_rate_by_ppl["Latitude/Longitude"]
del ed_17_qtly_anyod_rate_by_ppl["Quarter Date Start"]
del ed_17_qtly_anyod_rate_by_ppl["County FIPS Code"]

# ed_17_qtly_anyod_rate_by_ppl.head()

In [19]:
# "any OD", "rate of ED vists per 10,000 population" by county, [[annual]] in 2017

temp = ed_17_qtly_anyod_rate_by_ppl.groupby("County Name")
temp_df = pd.DataFrame(temp["Qtly_rate_no_na"].mean())
temp_df = temp_df.rename(columns={"Qtly_rate_no_na":"anyod_annual_ED_rate_by_ppl_17"})
temp_df = temp_df.reset_index(drop=False,inplace=False)
ed_17_yrly_anyod_rate_by_ppl = temp_df
ed_17_yrly_anyod_rate_by_ppl.head()

  County Name  anyod_annual_ED_rate_by_ppl_17
0       Adams                        4.666002
1   Allegheny                       10.796796
2   Armstrong                       10.206880
3      Beaver                        4.634645
4     Bedford                        7.632013

In [20]:
# "Opioid OD", "rate of ED vists per 10,000 population" by county, [[quarterly]] in 2017

ed_17_qtly_opod_rate_by_ppl = ed_17_qtly.loc[\
                                                 (ed_17_qtly["Overdose Type"]=="Any Opioid Overdose") \
                                                 & \
                                                 (ed_17_qtly["Type of Rate"]==\
                                                  "Rate of ED Visits per 10,000 Population (by patient location)")]

del ed_17_qtly_opod_rate_by_ppl["State FIPS Code"]
del ed_17_qtly_opod_rate_by_ppl["Time Measure"]
del ed_17_qtly_opod_rate_by_ppl["County Code Text"]
del ed_17_qtly_opod_rate_by_ppl["Latitude/Longitude"]
del ed_17_qtly_opod_rate_by_ppl["Quarter Date Start"]
del ed_17_qtly_opod_rate_by_ppl["County FIPS Code"]

# ed_17_qtly_opod_rate_by_ppl.head()

In [21]:
# "Opioid OD", "rate of ED vists per 10,000 population" by county, [[annual]] in 2017

temp = ed_17_qtly_opod_rate_by_ppl.groupby("County Name")
temp_df = pd.DataFrame(temp["Qtly_rate_no_na"].mean())
temp_df = temp_df.rename(columns={"Qtly_rate_no_na":"op_od_annual_ED_rate_by_ppl_17"})
temp_df = temp_df.reset_index(drop=False,inplace=False)
ed_17_yrly_opod_rate_by_ppl = temp_df
ed_17_yrly_opod_rate_by_ppl.head()

  County Name  op_od_annual_ED_rate_by_ppl_17
0       Adams                        0.464657
1   Allegheny                        3.787668
2   Armstrong                        2.894488
3      Beaver                        0.662092
4     Bedford                        1.495712

In [22]:
# merge all 4 tables into one big one
# ed_17_yrly_anyod_rate_by_visits
# ed_17_yrly_opod_rate_by_visits
# ed_17_yrly_anyod_rate_by_ppl
# ed_17_yrly_opod_rate_by_ppl

m1=pd.merge(ed_17_yrly_anyod_rate_by_visits,ed_17_yrly_opod_rate_by_visits)
m2=pd.merge(m1,ed_17_yrly_anyod_rate_by_ppl)
final_annual_ed_visit_17=pd.merge(m2,ed_17_yrly_opod_rate_by_ppl)
final_annual_ed_visit_17.head(10)

,County Name,anyod_annual_ED_rate_by_visit_17,op_od_annual_ED_rate_by_visit_17,anyod_annual_ED_rate_by_ppl_17,op_od_annual_ED_rate_by_ppl_17
0,Adams,44.666762,1.634737,4.666002,0.464657
1,Allegheny,97.232480,31.890134,10.796796,3.787668
2,Armstrong,49.175056,8.819483,10.206880,2.894488
3,Beaver,33.046201,0.000500,4.634645,0.662092
4,Bedford,68.073567,11.200351,7.632013,1.495712
5,Berks,76.610793,15.638547,7.562450,1.453857
6,Blair,72.129546,17.808277,9.699734,2.369246
7,Bradford,27.520802,0.000750,4.683417,0.001000
8,Bucks,98.743608,12.224156,8.792996,1.324918
9,Butler,57.661709,1.509631,5.838874,0.868482

## 2.2) Aggreate 2018 data (TBD)

In [23]:
# "opioid OD", "rate of ED vists per 10,000 visits" by county, [[quarterly]] in 2018

ed_18_qtly_opod_rate_by_visits = ed_18_qtly.loc[\
                                                 (ed_18_qtly["Overdose Type"]=="Any Opioid Overdose") \
                                                 & \
                                                 (ed_18_qtly["Type of Rate"]=="Rate of ED Visits per 10,000 Visits (by facility location)")]

column_to_drop = ["State FIPS Code","Time Measure","County Code Text",\
                  "Latitude/Longitude","Quarter Date Start","County FIPS Code"]

ed_18_qtly_opod_rate_by_visits = ed_18_qtly_opod_rate_by_visits.drop(columns=column_to_drop,axis=1)

# ed_18_qtly_opod_rate_by_visits.head()

In [24]:
# "opioid OD", "rate of ED vists per 10,000 visits" by county, [[annual]] in 2018

temp = ed_18_qtly_opod_rate_by_visits.groupby("County Name")
temp_df = pd.DataFrame(temp["Qtly_rate_no_na"].mean())
temp_df = temp_df.rename(columns={"Qtly_rate_no_na":"op_od_annual_ED_rate_by_visit_18"})
temp_df = temp_df.reset_index(drop=False,inplace=False)
ed_18_yrly_opod_rate_by_visits = temp_df
ed_18_yrly_opod_rate_by_visits.head()

  County Name  op_od_annual_ED_rate_by_visit_18
0       Adams                          8.554991
1   Allegheny                         18.053902
2   Armstrong                          2.753188
3      Beaver                          2.022103
4     Bedford                          7.602126

In [25]:
# "opioid OD", "rate of ED vists per 10,000 population" by county, [[quarterly]] in 2018

ed_18_qtly_opod_rate_by_ppl = ed_18_qtly.loc[\
                                                 (ed_18_qtly["Overdose Type"]=="Any Opioid Overdose") \
                                                 & \
                                                 (ed_18_qtly["Type of Rate"]=="Rate of ED Visits per 10,000 Population (by patient location)")]

column_to_drop = ["State FIPS Code","Time Measure","County Code Text",\
                  "Latitude/Longitude","Quarter Date Start","County FIPS Code"]

ed_18_qtly_opod_rate_by_ppl = ed_18_qtly_opod_rate_by_ppl.drop(columns=column_to_drop,axis=1)

# ed_18_qtly_opod_rate_by_ppl.head()

In [26]:
# "opioid OD", "rate of ED vists per 10,000 population" by county, [[annual]] in 2018

temp = ed_18_qtly_opod_rate_by_ppl.groupby("County Name")
temp_df = pd.DataFrame(temp["Qtly_rate_no_na"].mean())
temp_df = temp_df.rename(columns={"Qtly_rate_no_na":"op_od_annual_ED_rate_by_ppl_18"})
temp_df = temp_df.reset_index(drop=False,inplace=False)
ed_18_yrly_opod_rate_by_ppl = temp_df
ed_18_yrly_opod_rate_by_ppl.head()

  County Name  op_od_annual_ED_rate_by_ppl_18
0       Adams                        1.001853
1   Allegheny                        2.152409
2   Armstrong                        1.942354
3      Beaver                        0.662092
4     Bedford                        0.722447

In [27]:
# merge 2 tables into one

final_annual_ed_visit_18=pd.merge(ed_18_yrly_opod_rate_by_visits,ed_18_yrly_opod_rate_by_ppl)
final_annual_ed_visit_18.head()

,County Name,op_od_annual_ED_rate_by_visit_18,op_od_annual_ED_rate_by_ppl_18
0,Adams,8.554991,1.001853
1,Allegheny,18.053902,2.152409
2,Armstrong,2.753188,1.942354
3,Beaver,2.022103,0.662092
4,Bedford,7.602126,0.722447

## 3) Clean up Hospitalization data